USE [master]
GO
/****** Object:  Database [Job Application]    Script Date: 3/13/2022 12:45:24 AM ******/
CREATE DATABASE [Job Application]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Job Application', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\Job Application.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Job Application_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\Job Application_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Job Application].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Job Application]
GO
/****** Object:  User [NWC\Administrator]    Script Date: 3/13/2022 12:45:25 AM ******/
CREATE USER [NWC\Administrator] FOR LOGIN [NWC\Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NWC\Administrator]
GO
/****** Object:  Table [dbo].[Applicant]    Script Date: 3/13/2022 12:45:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FamilyName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[CountryOfOrigin] [nvarchar](50) NULL,
	[EMailAddress] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Hired] [bit] NULL,
 CONSTRAINT [PK_Applicant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
